/* *{
    box-sizing: border-box;
} */
.body{
         background-image: url(../Images/pic1.jpg);
    background-size: cover;
    background-position: center;
    height: 1000px;
}
.logo{
    width: 250px;
    height: 110px;
    /* margin-right: 40px; */
}
.container-fluid{
    background-color:rgba(171, 127, 64, 0.6);
       /* box-shadow: 0px 1rem 1.5rem -0.5rem black; */
}
.container{
    display: flex;
}
.navbar-nav{
    margin-left: 250px;
}
.card{
    margin: 10px
}
.card-img-top1{
height: 160px;
}
.container1{
      max-width: 700px;
      margin: 50px auto;
      background: white;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
      background-color: rgb(199, 190, 178);
    }

    .form-control:focus {
      box-shadow: none;
      border-color: #0d6efd;
    }

    .form-icon {
      position: absolute;
      left: 10px;
      top: 10px;
      color: #0d6efd;
    }

    .form-group {
      position: relative;
      margin-bottom: 20px;
    }

    .form-group input,
    .form-group textarea {
      padding-left: 35px;
    }
    /* .btn :hover{
        background-color: darkgray;
    } */
    #btnss{
      width: 200px;
      border:none;
       border-radius: 3px;
      color: white;
      box-shadow: 0px 1rem 2.5rem -0.5rem black;
      font-size: 15px;
      color: white;
      /* align-items: center; 
      justify-content: center; */
  }
  #btnss{
      background-color:rgba(164, 114, 44, 0.6);
    }
    #btnss:hover{
       background-color:rgba(113, 112, 109, 0.364);
    }
    .main{
      background-image: url(../Images/pic1.jpg);
      background-size: cover;
      background-position: center;
      padding: 20px 50px;
      height: 450px;
      margin-top: 50px;
  
  }
  #body{
    margin-left: 20px;
  }