*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.logo{
    width: 280px;
    height: 120px;
    /* margin-right: 40px; */
}
.container-fluid{
    background-color: rgba(164, 114, 44, 0.6);
     /* position: fixed;
     height: 200px;
     padding-top: 100px; */
       /* box-shadow: 0px 1rem 2.5rem -0.5rem black; */
}
.navbar-nav{
    margin-left: 250px;
}
.container{
    display: flex;
}
.card{
    margin: 10px
}
.card-img-top1{
height: 160px;
}
/* .about{
    float:end;
    width: 400px;
    height: 500px;
} */
 .btn{
    width: 200px;
    border:none;
     border-radius: 3px;
    color: white;
    box-shadow: 0px 0.5rem 1.5rem -0.5rem black;
    font-size: 15px;
    color: white;
    /* align-items: center; 
    justify-content: center; */
}
.hover-btn{
     background-color: black;
}
.btn-link{
   text-decoration-line: none;
}
.btn-hover{
    color: black;
}
.login{
    margin-left: 200px;
}
.about{
      box-shadow: 0px 0.5rem 1rem -0.5rem black;
       background-color:rgba(227, 223, 207, 0.364);
}
.gallery{
      background-color:rgba(227, 217, 200, 0.364);
}
.card{
        box-shadow: 0px 1rem 1rem -0.5rem black;
        border: 5px solid white;
}
.img1{
    width: 100%;
    height: 550px;
}
.gallery-card-img{
transition: 0.5s ease-in-out;
border: 10px solid white;
}
.card-img-hover{
transform: scale(1.16);
}
#images{
      box-shadow: 0px 1rem 1rem -0.5rem black;
}
#btnss{
  background-color:rgba(164, 114, 44, 0.6);
}
#btnss:hover{
   background-color:rgba(113, 112, 109, 0.364);
}
#btns{
    background-color:rgba(75, 69, 51, 0.364);
}
#btns:hover{
     background-color:rgba(164, 114, 44, 0.6);
}
.main{
    background-image: url(../Images/pic1.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px 50px;
    height: 450px;
    margin-top: 50px;

}